// VARIABLES
// Colors

$red: #d35266;
$grey: #888;
$black: #383838;

// Fonts

$heuvetica: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
Helvetica, Arial, "Lucida Grande", sans-serif;
$gotham: GothamPro;


// STYLE

html,
body,
.wrapper {
    width: 100vw;
    height: auto;
    font-family: $heuvetica;
    color: $black;
    padding: 0;
    margin: 0;
}

.bg-red {background-color: $red;}

.bg-grey {background-color: $grey;}

.bg-black {background-color: $black;}

.text-red {color: $red;}

.text-grey {color: $grey;}

.text-black {color: $black}

.logo {
    i {font-size: 35px;}
    p {
        font-family: flegrei, sans-serif;
        font-size: 18px;
        letter-spacing: 0.25px;
    }
    .republic {margin-top: -14px;} 
}

.wrapper {
    header {
        nav {
            width: 100vw;
            height: 60px;
            .fa-rocket {font-size: 0.85em;}
        }
        section {
            width: 100vw;
        }
    }
    footer {
        .social-bottom {
            a {
                background-color: $red;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                border: 3px solid $red;
                color: white;
            }
            a:hover {
                background-color: white;
                color: $red !important;
            }
        }
    }
}

